<app-generic-list [list]="listado">
    <ng-container contenido>
            <div *ngFor="let lista of listado; let index = index">
                <div _nghost-listado>
                    {{index}} ) {{lista.name}}
                    <button (click)="remove(index)" class="remove">Remove</button>
                </div> 
            </div>
    </ng-container>
</app-generic-list>
 
<!--
    <p>generic-list works!</p>
    <ng-container>
    {{regresiSum(15)}}
    </ng-container>
    <ng-container>
    {{oddSum(15)}}
    </ng-container>
    <ng-container>
    {{squareSum(15)}}
    </ng-container>
-->

