<app-generic-list [list]="listado">
    <ng-container contenido>
        <div class="books-container">
            <div *ngFor="let lista of listado; let index = index" class="book-container">
                <div class="item-book" [routerLink]="['books', lista.bookID]">
                    
                    <a>
                        <img [src]="lista.cover" alt="cover" />
                    </a>
                    <p>
                    <a>
                        {{lista.title}}
                    </a>
                    </p>
                    <!--
                        <div>
                        <a mat-flat-button color= "primary">
                        Edit
                        </a>
                        <button mat-flat-button color="warn" type="button">
                        Delete
                        </button>
                        </div>
                    -->
                </div>
            </div>
        </div>
    </ng-container>
</app-generic-list>
 
<!--
    <p>generic-list works!</p>
    <ng-container>
    {{regresiSum(15)}}
    </ng-container>
    <ng-container>
    {{oddSum(15)}}
    </ng-container>
    <ng-container>
    {{squareSum(15)}}
    </ng-container>
-->

