<!--

-->
<form [formGroup]="searchForm">
    <mat-form-field>
        <input matInput type="text" placeholder="search"  
        formControlName="searchBar" aria-laber="State" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="">
            <mat-option *ngIf="" class="is-loading">
                Loading...
            </mat-option>
            <ng-container>
                <mat-option *ngFor="let option of searchBook" [value]="option.title">
                    <span>{{option.title}}</span>
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</form>



