<mat-toolbar color="primary">
    <span>
        <a routerLink=""  mat-button>
            <mat-icon>
                book
            </mat-icon>
            Angular Books
        </a>
    </span>
    <ng-container>
        <a mat-button [matMenuTriggerFor]="Geners">
            Geners
        </a>
            <mat-menu #Geners="matMenu">
                <button *ngFor="let gener of geners" mat-menu-item >
                    {{gener}}
                </button>
            </mat-menu>
    </ng-container>
</mat-toolbar>
