<mat-toolbar color="primary">
    <span>
        <a routerLink=""  mat-button>
            <mat-icon>
                book
            </mat-icon>
            Angular Books
        </a>
    </span>
    <!--
    -->
        <app-generic-list [list]="genres">
            <ng-container contenido>
                <button mat-button  [matMenuTriggerFor]="Geners">
                    Geners
                </button>
                <mat-menu #Geners="matMenu" class="cb-flex"  yPosition="below">
                    <button *ngFor="let gener of genres" mat-menu-item class="Menu-item">
                        {{gener.gener}}
                    </button>
                </mat-menu>
            </ng-container>
        </app-generic-list>
    <!--
    -->
    <span>
        <a routerLink="geners" mat-button>
            <mat-icon>
                manage_search
            </mat-icon>
            Browser
        </a>
    </span>
</mat-toolbar>
