mat-toolbar{
    position: sticky;
    position: -web-sticky;
    top: 0;
    z-index: 1000;
}

.cb-flex{
    display: flex;
    flex-wrap: wrap;
    widht: 380px;
}

.table{
    columns: 2;
    list-style: none;
}

.cb-flex .Menu-item{
    width: 120px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Menu-item{
    table-layout: fixed;
}

.Menu-item{
    padding: 1rem;
    width: 120px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

