.detailsContainer{
    display: flex;
    flex-direction: column;
    aling-items: center;
    margin-top: 5%;
    margin-left: 200px;
    margin-right: 200px;
}
.detailBook{
    display: flex;
    flex-direction: row;
}

.Info-detail{
    margin-top: -1.5%;
    padding-left: 1rem;
}

.Info-resume{
    padding-top: 1.5rem;
}

.resumeText{
    text-align: justify;
    text-justify: inter-word;
}
img{
    height: 363.633px;
    widht: 240px;
}

strong{
    color: #3A3A3A;
    line-height: 1.5;
    font-weight: 700;
}

h3{
    padding-top: -1.5em;
}
